<nav class="anduril-nav">
    <div class="anduril-container">
        <div class="anduril-nav-content">
            <a href="/" class="anduril-logo">CITYPACK</a>
            <div class="anduril-nav-links">
                <a href="/" class="anduril-nav-link">Home</a>
                <a href="/solutions" class="anduril-nav-link">Solutions</a>
                <a href="/how-it-works" class="anduril-nav-link">How It Works</a>
                <a href="/technology" class="anduril-nav-link">Technology</a>
                <a href="/impact" class="anduril-nav-link">Impact</a>
                <a href="/customers" class="anduril-nav-link">Customers</a>
                <a href="/resources" class="anduril-nav-link">Resources</a>
                <a href="/company" class="anduril-nav-link">Company</a>
                <a href="/contact" class="anduril-nav-link">Contact</a>
            </div>
        </div>
    </div>
</nav>
