<section class="section bg-white" id="benefits">
    <h2 class="section-title">{{title}}</h2>
    <div class="grid grid-3">
        {{#each items}}
        <div class="card animate-in">
            <div class="card-icon">{{icon}}</div>
            <h3 class="card-title">{{title}}</h3>
            <p class="card-description">{{description}}</p>
        </div>
        {{/each}}
    </div>
</section>
