<section class="faq" id="faq">
    <h2>{{title}}</h2>
    <div class="faq-list">
        {{#each items}}
        <div class="faq-item">
            <h3 class="faq-question">{{question}}</h3>
            <p class="faq-answer">{{answer}}</p>
        </div>
        {{/each}}
    </div>
</section>
