<section class="section" id="faq">
    <h2 class="section-title">{{title}}</h2>
    <div class="container-reading">
        {{#each items}}
        <div class="card">
            <h3 class="card-title">{{question}}</h3>
            <p>{{answer}}</p>
        </div>
        {{/each}}
    </div>
</section>
