<nav class="anduril-nav">
    <div class="anduril-container">
        <div class="anduril-nav-content">
            <a href="/" class="anduril-logo">LABRADOR</a>
            <div class="anduril-nav-links">
                <a href="/" class="anduril-nav-link">Home</a>
                <a href="/city-services" class="anduril-nav-link">Customers</a>
                <a href="/specifications" class="anduril-nav-link">Product</a>
                <a href="/pricing" class="anduril-nav-link">Rental</a>
                <a href="/contact" class="anduril-nav-link">Contact</a>
            </div>
        </div>
    </div>
</nav>
