<nav>
    <div class="nav-wrapper">
        <div class="logo">{{logo}}</div>
        <ul class="nav-items">
            {{#each links}}
            <li><a href="{{href}}">{{text}}</a></li>
            {{/each}}
        </ul>
    </div>
</nav>
