<section class="problem" id="problem">
    <h2>{{title}}</h2>
    <p class="intro">{{intro}}</p>
    <div class="problem-grid">
        {{#each items}}
        <div class="problem-item">
            <h3>{{title}}</h3>
            <p>{{description}}</p>
        </div>
        {{/each}}
    </div>
</section>
