<nav class="anduril-nav">
    <div class="anduril-container">
        <div class="anduril-nav-content">
            <a href="/" class="anduril-logo">HUMBLE</a>
            <div class="anduril-nav-links">
                <a href="/solutions" class="anduril-nav-link">Solutions</a>
                <a href="/case-studies" class="anduril-nav-link">Case Studies</a>
                <a href="/how-it-works" class="anduril-nav-link">How It Works</a>
                <a href="/pricing" class="anduril-nav-link">Pricing</a>
                <a href="/contact" class="anduril-nav-link">Contact</a>
            </div>
        </div>
    </div>
</nav>
