<nav class="anduril-nav">
    <div class="anduril-container">
        <div class="anduril-nav-content">
            <a href="/" class="anduril-logo">HUMBLE</a>
            <div class="anduril-nav-links">
                <a href="/" class="anduril-nav-link">Home</a>
                <a href="/solutions" class="anduril-nav-link">Live Events</a>
                <a href="/how-it-works" class="anduril-nav-link">Bounce Houses and Parties</a>
                <a href="/technology" class="anduril-nav-link">Batteries</a>
                <a href="/impact" class="anduril-nav-link">Impact</a>
                <a href="/customers" class="anduril-nav-link">Customers</a>
                <a href="/resources" class="anduril-nav-link">Pricing</a>
                <a href="/company" class="anduril-nav-link">Team</a>
                <a href="/contact" class="anduril-nav-link">Contact</a>
            </div>
        </div>
    </div>
</nav>
